In [1]:
# Attempting to finetune GPT-J model with random RADAR data
# Need to run this on the million dollar servers though

# Temporarily running it on GPT2


import torch
from torch.utils.data import Dataset
from torchvision import datasets
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:

path=os.getcwd()

# calculated 27122 is total lines
df = pd.DataFrame(np.empty([27122, 1],dtype=str), columns=["text"])

display(df.head())

  text
0
1
2
3
4

In [3]:
# get all text from radar handbooks to df
start_line = 0
for i in range(1, 27):
    with open(os.sep.join([path,"..","..", "HandbookPlainText", f"RadarHandbook_CH0{i}.txt"])) as f:
        Lines = f.readlines()
        for j, line in enumerate(Lines):
            df.loc[j + start_line, "text"] = line
        
        # start adding next txt file at correct line
        start_line += len(Lines)

In [6]:
display(df.head())
display(df.tail())

                                                text
0  1.16x9 Handbook  / Radar Handbook / Skolnik / ...
1  Its operation can be summarized as follows: ● ...
2  ● Some of the radiated energy is intercepted b...
3  ● The energy intercepted by the target is rera...
4  ● Some of the reradiated (echo) energy is retu...

                                                    text
37249  Blake, Radar Range Performance Analysis , Lexi...
37250                             Heath and Co., 1980.\n
37251  ch26.indd   28 12/15/07   4:53:37 PMDownloaded...
37252                             All rights reserved.\n
37253  Any use is subject to the Terms of Use as give...

In [ ]:
df_train, df_test = train_test_split(df, shuffle=True, test_size=0.2)